body{
	margin: 0; padding: 1em;
    min-width: 41em; /* Mindestbreite verhindert Umbruch und Anzeigefehler in modernen Browsern */
	font-family:Comic Sans MS, Arial, Times New Roman;
	font-size:16px;
  }
h1{
	position:absolute;
	font-size:50px;
	font-weight:bolder;
  }
  
#new{
	position:relative;
	top:100px;
	float:left;
	width:60%;
	border-style:solid;
}

#sorter{
	position:relative;
	float:right;
	margin: 0 0 1.1em; padding: 0;
	top:100px;
	border-style:solid;
	width:35%
	}  
 
#categorySection{
	position:relative;
	float: right; width: 12em;
	height:500px;
	top:100px;
    margin: 0 0 1.1em; padding: 0;
	border-style:solid;
	width:20%
}
 
#articleSection{
	position:absolute;
	top:160px;
	float:left;
	border-style:solid;
	width:75%;
}


/* Kategorienliste */
.categories{
}

/*genauere Angaben zum Artikel */
.articleTitle{
	font-size:20px;
	font-weight:bolder;
}

.articleHeader{
	font-size:12px;
}

.articleText{

}



  